API.env
.env
.env.*
*.env
__pycache__/
*.pyc

.DS_Store
.ipynb_checkpoints/
export_good_iteration.py
gp_driver.py
surrogate_modeling.py
scalping_backtest_engine.py
export_good_iteration.py
gp_driver.py
surrogate_modeling.py
scalping_backtest_engine.py
